<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <header class="header">
      <ul class="lists">
        <li><a href="./home">HOME</a></li>
        <li><a href="/form">FORM</a></li>
        <li><a href="">CONTACT</a></li>
        <li><a href="">ADDRESS</a></li>
        <li><a href="">PORTFOLIO</a></li>
      </ul>
    </header>
  </body>
</html>
