<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS</title>
  </head>
  <body>
    <h1>Welcome <%= name %> to learn EJS</h1>

    <h3>People who are also leaning EJS</h3>
    <ul>
      <% people.forEach(user => { %>
      <li><%= user %></li>
      <% }) %>
    </ul>
  </body>
</html>
