<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>EJS</title>
  </head>
  <body>
    <%- include("./header.ejs") %>
    <div class="main">
      <h1>Welcome <%= name %> to learn EJS</h1>

      <h3>People who are also leaning EJS</h3>
      <ul>
        <% people.forEach(user => { %>
        <li><%= user %></li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
